<div >
  <div id="header" class="">
    <div class="container text-white  ">
      <div class=" row   ">
        <div class="col-md-2"></div>
        <div class="col-md-3  ">
          <span class="display-4 text-weight-normal text-right"><b>ISU</b>Corp</span>
        </div>
        <div class="col-md-2">
          <p id="moto">World Class Software Development</p>
          <!----<p class="">
      <span class=" col-md-2 "></span>

      <small class=" col-md-2 ">World Class<br/>Software Development</small>
      <span class=" col-md-4 "></span>
    </p>-->
        </div>
        <div class="col-md-5"></div>

      </div>
    </div>
  </div>
</div>
